<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="cn" connectionString="Data Source=CCD-AHMED\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="cn" connectionString="Data Source=CCD-AHMED\SQLEXPRESS;Initial Catalog=WCFConnectDB;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 

  <system.serviceModel>

    
    <behaviors>
      <endpointBehaviors>
        <behavior name="DataTransSvcWebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DataTransSvcBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>

    </behaviors>
    
    <services>
      <service behaviorConfiguration="DataTransSvcBehavior" name="DataTransferApp.DataTransService">
        <endpoint address="" behaviorConfiguration="DataTransSvcWebBehavior"
          binding="webHttpBinding" bindingConfiguration="RESTfulServiceBinding" name="DataTransSvcWebHttpBinding"
          contract="DataTransferApp.IDataTransService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="DataTransSvcMexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://172.16.8.221:8732/Design_Time_Addresses/DataTransferApp.svc" />
            <!--<add baseAddress="http://localhost:8080/DataTransferApp" />-->
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <!--<binding name="RESTfulServiceBinding" maxReceivedMessageSize="50000000"/>-->
        <binding name="RESTfulServiceBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
          maxArrayLength="2147483647" maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />
        </binding>

      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>
